In [23]:
# Importando as bibliotecas necessárias

import pandas as pd
import numpy as np

In [24]:
# Importando dados de Abril

abril = pd.read_csv('abril.csv', encoding='UTF-8', delimiter=";")
abril.describe()

,codmun,semanaEpi,casosAcumuladoAbril,casosNovosAbril,obitosAcumuladoAbril,obitosNovosAbril
count,5556.000000,5584.0,5584.000000,5584.000000,5584.000000,5584.000000
mean,324700.574334,18.0,45.893087,3.855122,3.172278,0.232450
std,98430.016536,0.0,1257.221297,106.232097,89.767667,6.445271
min,110000.000000,18.0,0.000000,-6.000000,0.000000,-1.000000
25%,251147.500000,18.0,0.000000,0.000000,0.000000,0.000000
50%,314525.000000,18.0,0.000000,0.000000,0.000000,0.000000
75%,411752.500000,18.0,2.000000,0.000000,0.000000,0.000000
max,530010.000000,18.0,85380.000000,7218.000000,5901.000000,435.000000

In [25]:
# Limpando os dados

# Corrigindo valores negativos de abril

abril['casosNovosAbril'] = abril['casosNovosAbril'].abs()
abril['obitosNovosAbril'] = abril['obitosNovosAbril'].abs()

# removendo linhas sem valores não utilizadas, como o do total de estado entre outras
abril = abril.dropna()

# removendo colunas desnecessária
del abril['semanaEpi']

abril

,estado,municipio,codmun,data,casosAcumuladoAbril,casosNovosAbril,obitosAcumuladoAbril,obitosNovosAbril
29,RO,Alta Floresta D'Oeste,110001.0,30/04/2020,0,0,0,0
30,RO,Ariquemes,110002.0,30/04/2020,69,5,0,0
31,RO,Cabixi,110003.0,30/04/2020,0,0,0,0
32,RO,Cacoal,110004.0,30/04/2020,1,1,0,0
33,RO,Cerejeiras,110005.0,30/04/2020,0,0,0,0
...,...,...,...,...,...,...,...,...
5579,GO,Vianópolis,522200.0,30/04/2020,1,0,0,0
5580,GO,Vicentinópolis,522205.0,30/04/2020,0,0,0,0
5581,GO,Vila Boa,522220.0,30/04/2020,0,0,0,0
5582,GO,Vila Propício,522230.0,30/04/2020,0,0,0,0
5583,DF,Brasília,530010.0,30/04/2020,1356,81,30,2

In [26]:
# Importando dados de Maio

maio = pd.read_csv('maio.csv', encoding='UTF-8', delimiter=";")
maio.describe()

,codmun,semanaEpi,casosAcumuladoMaio,casosNovosMaio,obitosAcumuladoMaio,obitosNovosMaio
count,5556.000000,5584.0,5584.000000,5584.000000,5584.000000,5584.000000
mean,324700.574334,23.0,276.253582,8.467049,15.748926,0.257880
std,98430.016536,0.0,7265.451115,221.838097,427.041739,6.810564
min,110000.000000,23.0,0.000000,-22.000000,0.000000,-1.000000
25%,251147.500000,23.0,0.000000,0.000000,0.000000,0.000000
50%,314525.000000,23.0,4.000000,0.000000,0.000000,0.000000
75%,411752.500000,23.0,25.000000,0.000000,1.000000,0.000000
max,530010.000000,23.0,514200.000000,15760.000000,29314.000000,480.000000

In [27]:
# Limpando os dados

# Corrigindo valores negativos de maio

maio['casosNovosMaio'] = maio['casosNovosMaio'].abs()
maio['obitosNovosMaio'] = maio['obitosNovosMaio'].abs()

# removendo linhas sem valores não utilizadas, como o do total de estado entre outras
maio = maio.dropna()

# removendo colunas desnecessária
del maio['semanaEpi']

maio

,estado,municipio,codmun,data,casosAcumuladoMaio,casosNovosMaio,obitosAcumuladoMaio,obitosNovosMaio
29,RO,Alta Floresta D'Oeste,110001.0,31/05/2020,3,0,0,0
30,RO,Ariquemes,110002.0,31/05/2020,361,29,5,1
31,RO,Cabixi,110003.0,31/05/2020,0,0,0,0
32,RO,Cacoal,110004.0,31/05/2020,54,3,0,0
33,RO,Cerejeiras,110005.0,31/05/2020,3,1,1,0
...,...,...,...,...,...,...,...,...
5579,GO,Vianópolis,522200.0,31/05/2020,1,0,0,0
5580,GO,Vicentinópolis,522205.0,31/05/2020,0,0,0,0
5581,GO,Vila Boa,522220.0,31/05/2020,0,0,0,0
5582,GO,Vila Propício,522230.0,31/05/2020,0,0,0,0
5583,DF,Brasília,530010.0,31/05/2020,9780,306,170,8

In [28]:
# Importando dados de Junho

junho = pd.read_csv('junho.csv', encoding='UTF-8', delimiter=";")
junho.describe()

,codmun,semanaEpi,casosAcumuladoJunho,casosNovosJunho,obitosAcumuladoJunho,obitosNovosJunho
count,5556.000000,5584.0,5.584000e+03,5584.000000,5584.000000,5584.000000
mean,324700.574334,27.0,7.532455e+02,18.183739,32.016834,0.687679
std,98430.016536,0.0,1.959225e+04,472.412281,856.867905,18.421602
min,110000.000000,27.0,0.000000e+00,-1812.000000,0.000000,-2.000000
25%,251147.500000,27.0,5.000000e+00,0.000000,0.000000,0.000000
50%,314525.000000,27.0,2.300000e+01,0.000000,0.000000,0.000000
75%,411752.500000,27.0,1.060000e+02,3.000000,2.000000,0.000000
max,530010.000000,27.0,1.402041e+06,33846.000000,59594.000000,1280.000000

In [29]:
# Limpando os dados

# Corrigindo valores negativos de junho

junho['casosNovosJunho'] = junho['casosNovosJunho'].abs()
junho['obitosNovosJunho'] = junho['obitosNovosJunho'].abs()

# removendo linhas sem valores não utilizadas, como o do total de estado entre outras
junho = junho.dropna()

# removendo colunas desnecessária
del junho['semanaEpi']

junho.describe()

,codmun,casosAcumuladoJunho,casosNovosJunho,obitosAcumuladoJunho,obitosNovosJunho
count,5535.000000,5535.000000,5535.000000,5535.000000,5535.000000
mean,324799.709304,252.605601,6.495212,10.749774,0.235050
std,98376.954829,2280.192870,49.581070,148.564477,2.856754
min,110001.000000,0.000000,0.000000,0.000000,0.000000
25%,251175.000000,5.000000,0.000000,0.000000,0.000000
50%,314537.000000,23.000000,0.000000,0.000000,0.000000
75%,411765.000000,102.000000,3.000000,2.000000,0.000000
max,530010.000000,127119.000000,2147.000000,7162.000000,136.000000

In [30]:
# Importando dados de Julho

julho = pd.read_csv('julho.csv', encoding='UTF-8', delimiter=";")
julho.describe()

,codmun,semanaEpi,casosAcumuladoJulho,casosNovosJulho,obitosAcumuladoJulho,obitosNovosJulho
count,5556.000000,5584.0,5.584000e+03,5584.000000,5584.000000,5584.000000
mean,324700.574334,31.0,1.430418e+03,28.142729,49.682128,0.651146
std,98430.016536,0.0,3.707025e+04,737.284367,1315.810453,17.044906
min,110000.000000,31.0,0.000000e+00,-6.000000,0.000000,-2.000000
25%,251147.500000,31.0,2.000000e+01,0.000000,0.000000,0.000000
50%,314525.000000,31.0,6.900000e+01,1.000000,1.000000,0.000000
75%,411752.500000,31.0,2.512500e+02,5.000000,6.000000,0.000000
max,530010.000000,31.0,2.662485e+06,52383.000000,92475.000000,1212.000000

In [31]:
# Limpando os dados

# Corrigindo valores negativos de julho

julho['casosNovosJulho'] = julho['casosNovosJulho'].abs()
julho['obitosNovosJulho'] = julho['obitosNovosJulho'].abs()

# removendo linhas sem valores não utilizadas, como o do total de estado entre outras
julho = julho.dropna()

# removendo colunas desnecessária
del julho['semanaEpi']

julho

,estado,municipio,codmun,data,casosAcumuladoJulho,casosNovosJulho,obitosAcumuladoJulho,obitosNovosJulho
29,RO,Alta Floresta D'Oeste,110001.0,31/07/2020,304,11,2,0
30,RO,Ariquemes,110002.0,31/07/2020,2627,65,41,0
31,RO,Cabixi,110003.0,31/07/2020,44,0,3,0
32,RO,Cacoal,110004.0,31/07/2020,759,12,12,0
33,RO,Cerejeiras,110005.0,31/07/2020,104,4,5,0
...,...,...,...,...,...,...,...,...
5579,GO,Vianópolis,522200.0,31/07/2020,96,0,1,0
5580,GO,Vicentinópolis,522205.0,31/07/2020,48,5,1,0
5581,GO,Vila Boa,522220.0,31/07/2020,32,1,0,0
5582,GO,Vila Propício,522230.0,31/07/2020,46,2,2,0
5583,DF,Brasília,530010.0,31/07/2020,106292,1850,1469,25

In [32]:
# Importando dados da população

populacao = pd.read_csv('populacao.csv', encoding='UTF-8', delimiter=";")
populacao

        codmun  populacao
0     292710.0     9331.0
1     291200.0     9224.0
2     150375.0     8239.0
3     291070.0    60585.0
4     293320.0    43223.0
...        ...        ...
5577  410000.0        NaN
5578  420000.0        NaN
5579  430000.0        NaN
5580  510000.0        NaN
5581  520000.0        NaN

[5582 rows x 2 columns]

In [33]:
# importandando as coordenadas de todos munícipios

coordenadas = pd.read_csv('coordenadas.csv', encoding='UTF-8', delimiter=";")
coordenadas

     GEOCODIGO_MUNICIPIO         NOME_MUNICIPIO     LONGITUDE      LATITUDE
0                1100015  ALTA FLORESTA D'OESTE   -61,9998239   -11,9355403
1                1100023              ARIQUEMES  -63,03326928  -9,908462867
2                1100031                 CABIXI  -60,54431358  -13,49976346
3                1100049                 CACOAL  -61,44294421  -11,43386503
4                1100056             CEREJEIRAS  -60,81842616  -13,19503303
...                  ...                    ...           ...           ...
5561             5222054         VICENTINÓPOLIS  -49,80723901  -17,73266238
5562             5222203               VILA BOA  -47,05736085  -15,03488879
5563             5222302          VILA PROPÍCIO  -48,88242208  -15,45463482
5564             5300108               BRASÍLIA  -47,88790548  -15,79408736
5565
                    NaN           NaN           NaN

[5566 rows x 4 columns]

In [34]:
# removendo último número de munícipio (Planilha disponibilizada pelo GOV não possui este último número)

coordenadas['GEOCODIGO_MUNICIPIO'] = coordenadas['GEOCODIGO_MUNICIPIO'].astype(str).str[:-1]
coordenadas

     GEOCODIGO_MUNICIPIO         NOME_MUNICIPIO     LONGITUDE      LATITUDE
0                 110001  ALTA FLORESTA D'OESTE   -61,9998239   -11,9355403
1                 110002              ARIQUEMES  -63,03326928  -9,908462867
2                 110003                 CABIXI  -60,54431358  -13,49976346
3                 110004                 CACOAL  -61,44294421  -11,43386503
4                 110005             CEREJEIRAS  -60,81842616  -13,19503303
...                  ...                    ...           ...           ...
5561              522205         VICENTINÓPOLIS  -49,80723901  -17,73266238
5562              522220               VILA BOA  -47,05736085  -15,03488879
5563              522230          VILA PROPÍCIO  -48,88242208  -15,45463482
5564              530010               BRASÍLIA  -47,88790548  -15,79408736
5565                                        NaN           NaN           NaN

[5566 rows x 4 columns]

In [35]:
# unindo as duas tabelas através dos número de munícipios

AbrilMaio = pd.merge(abril, maio, left_on='codmun', right_on='codmun', how='inner')
AbrilMaioJunho = pd.merge(AbrilMaio, junho, left_on='codmun', right_on='codmun', how='inner')
AbrilMaioJunhoJulho = pd.merge(AbrilMaioJunho, julho, left_on='codmun', right_on='codmun', how='inner')
AbrilMaioJunhoJulho

,estado_x,municipio_x,codmun,data_x,casosAcumuladoAbril,casosNovosAbril,obitosAcumuladoAbril,obitosNovosAbril,estado_y,municipio_y,...,casosNovosJunho,obitosAcumuladoJunho,obitosNovosJunho,estado_y,municipio_y,data_y,casosAcumuladoJulho,casosNovosJulho,obitosAcumuladoJulho,obitosNovosJulho
0,RO,Alta Floresta D'Oeste,110001.0,30/04/2020,0,0,0,0,RO,Alta Floresta D'Oeste,...,4,0,0,RO,Alta Floresta D'Oeste,31/07/2020,304,11,2,0
1,RO,Ariquemes,110002.0,30/04/2020,69,5,0,0,RO,Ariquemes,...,80,21,0,RO,Ariquemes,31/07/2020,2627,65,41,0
2,RO,Cabixi,110003.0,30/04/2020,0,0,0,0,RO,Cabixi,...,1,1,1,RO,Cabixi,31/07/2020,44,0,3,0
3,RO,Cacoal,110004.0,30/04/2020,1,1,0,0,RO,Cacoal,...,15,5,1,RO,Cacoal,31/07/2020,759,12,12,0
4,RO,Cerejeiras,110005.0,30/04/2020,0,0,0,0,RO,Cerejeiras,...,1,2,0,RO,Cerejeiras,31/07/2020,104,4,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5530,GO,Vianópolis,522200.0,30/04/2020,1,0,0,0,GO,Vianópolis,...,11,0,0,GO,Vianópolis,31/07/2020,96,0,1,0
5531,GO,Vicentinópolis,522205.0,30/04/2020,0,0,0,0,GO,Vicentinópolis,...,4,1,0,GO,Vicentinópolis,31/07/2020,48,5,1,0
5532,GO,Vila Boa,522220.0,30/04/2020,0,0,0,0,GO,Vila Boa,...,0,0,0,GO,Vila Boa,31/07/2020,32,1,0,0
5533,GO,Vila Propício,522230.0,30/04/2020,0,0,0,0,GO,Vila Propício,...,0,0,0,GO,Vila Propício,31/07/2020,46,2,2,0
5534,DF,Brasília,530010.0,30/04/2020,1356,81,30,2,DF,Brasília,...,2147,587,28,DF,Brasília,31/07/2020,106292,1850,1469,25

In [36]:
# unindo os dados de população

AbrilMaioJunhoJulhoPopulacao = pd.merge(AbrilMaioJunhoJulho, populacao, left_on='codmun', right_on='codmun', how='inner')
AbrilMaioJunhoJulhoPopulacao

,estado_x,municipio_x,codmun,data_x,casosAcumuladoAbril,casosNovosAbril,obitosAcumuladoAbril,obitosNovosAbril,estado_y,municipio_y,...,obitosAcumuladoJunho,obitosNovosJunho,estado_y,municipio_y,data_y,casosAcumuladoJulho,casosNovosJulho,obitosAcumuladoJulho,obitosNovosJulho,populacao
0,RO,Alta Floresta D'Oeste,110001.0,30/04/2020,0,0,0,0,RO,Alta Floresta D'Oeste,...,0,0,RO,Alta Floresta D'Oeste,31/07/2020,304,11,2,0,22945.0
1,RO,Ariquemes,110002.0,30/04/2020,69,5,0,0,RO,Ariquemes,...,21,0,RO,Ariquemes,31/07/2020,2627,65,41,0,107863.0
2,RO,Cabixi,110003.0,30/04/2020,0,0,0,0,RO,Cabixi,...,1,1,RO,Cabixi,31/07/2020,44,0,3,0,5312.0
3,RO,Cacoal,110004.0,30/04/2020,1,1,0,0,RO,Cacoal,...,5,1,RO,Cacoal,31/07/2020,759,12,12,0,85359.0
4,RO,Cerejeiras,110005.0,30/04/2020,0,0,0,0,RO,Cerejeiras,...,2,0,RO,Cerejeiras,31/07/2020,104,4,5,0,16323.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5528,GO,Vianópolis,522200.0,30/04/2020,1,0,0,0,GO,Vianópolis,...,0,0,GO,Vianópolis,31/07/2020,96,0,1,0,13863.0
5529,GO,Vicentinópolis,522205.0,30/04/2020,0,0,0,0,GO,Vicentinópolis,...,1,0,GO,Vicentinópolis,31/07/2020,48,5,1,0,8743.0
5530,GO,Vila Boa,522220.0,30/04/2020,0,0,0,0,GO,Vila Boa,...,0,0,GO,Vila Boa,31/07/2020,32,1,0,0,6171.0
5531,GO,Vila Propício,522230.0,30/04/2020,0,0,0,0,GO,Vila Propício,...,0,0,GO,Vila Propício,31/07/2020,46,2,2,0,5821.0
5532,DF,Brasília,530010.0,30/04/2020,1356,81,30,2,DF,Brasília,...,587,28,DF,Brasília,31/07/2020,106292,1850,1469,25,3015268.0

In [37]:
# convertando coluna com o código dos munícipios para string (para dar merge com coordenadas)

AbrilMaioJunhoJulhoPopulacao ['codmun'] = AbrilMaioJunhoJulhoPopulacao['codmun'].astype(str)
AbrilMaioJunhoJulhoPopulacao ['codmun'] = AbrilMaioJunhoJulhoPopulacao['codmun'].astype(str).str[:-2]
AbrilMaioJunhoJulhoPopulacao ['codmun']

0       110001
1       110002
2       110003
3       110004
4       110005
         ...
5528    522200
5529    522205
5530    522220
5531    522230
5532    530010
Name: codmun, Length: 5533, dtype: object

In [38]:
# unindo dados com as coordenadas de cada munícipio

dados = pd.merge(AbrilMaioJunhoJulhoPopulacao, coordenadas, left_on='codmun', right_on='GEOCODIGO_MUNICIPIO', how='inner')
dados

,estado_x,municipio_x,codmun,data_x,casosAcumuladoAbril,casosNovosAbril,obitosAcumuladoAbril,obitosNovosAbril,estado_y,municipio_y,...,data_y,casosAcumuladoJulho,casosNovosJulho,obitosAcumuladoJulho,obitosNovosJulho,populacao,GEOCODIGO_MUNICIPIO,NOME_MUNICIPIO,LONGITUDE,LATITUDE
0,RO,Alta Floresta D'Oeste,110001,30/04/2020,0,0,0,0,RO,Alta Floresta D'Oeste,...,31/07/2020,304,11,2,0,22945.0,110001,ALTA FLORESTA D'OESTE,"-61,9998239","-11,9355403"
1,RO,Ariquemes,110002,30/04/2020,69,5,0,0,RO,Ariquemes,...,31/07/2020,2627,65,41,0,107863.0,110002,ARIQUEMES,"-63,03326928","-9,908462867"
2,RO,Cabixi,110003,30/04/2020,0,0,0,0,RO,Cabixi,...,31/07/2020,44,0,3,0,5312.0,110003,CABIXI,"-60,54431358","-13,49976346"
3,RO,Cacoal,110004,30/04/2020,1,1,0,0,RO,Cacoal,...,31/07/2020,759,12,12,0,85359.0,110004,CACOAL,"-61,44294421","-11,43386503"
4,RO,Cerejeiras,110005,30/04/2020,0,0,0,0,RO,Cerejeiras,...,31/07/2020,104,4,5,0,16323.0,110005,CEREJEIRAS,"-60,81842616","-13,19503303"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5523,GO,Vianópolis,522200,30/04/2020,1,0,0,0,GO,Vianópolis,...,31/07/2020,96,0,1,0,13863.0,522200,VIANÓPOLIS,"-48,5134709","-16,74208144"
5524,GO,Vicentinópolis,522205,30/04/2020,0,0,0,0,GO,Vicentinópolis,...,31/07/2020,48,5,1,0,8743.0,522205,VICENTINÓPOLIS,"-49,80723901","-17,73266238"
5525,GO,Vila Boa,522220,30/04/2020,0,0,0,0,GO,Vila Boa,...,31/07/2020,32,1,0,0,6171.0,522220,VILA BOA,"-47,05736085","-15,03488879"
5526,GO,Vila Propício,522230,30/04/2020,0,0,0,0,GO,Vila Propício,...,31/07/2020,46,2,2,0,5821.0,522230,VILA PROPÍCIO,"-48,88242208","-15,45463482"
5527,DF,Brasília,530010,30/04/2020,1356,81,30,2,DF,Brasília,...,31/07/2020,106292,1850,1469,25,3015268.0,530010,BRASÍLIA,"-47,88790548","-15,79408736"

In [39]:
# deletando colunas que não serão utilizadas

del dados['estado_y']
del dados['municipio_y']
del dados['data_y']
del dados['GEOCODIGO_MUNICIPIO']
del dados['NOME_MUNICIPIO']
del dados['data_x']
del dados['casosNovosAbril']
del dados['casosNovosMaio']
del dados['casosNovosJunho']
del dados['casosNovosJulho']
del dados['obitosNovosAbril']
del dados['obitosNovosMaio']
del dados['obitosNovosJunho']
del dados['obitosNovosJulho']

dados

,estado_x,municipio_x,codmun,casosAcumuladoAbril,obitosAcumuladoAbril,casosAcumuladoMaio,obitosAcumuladoMaio,estado_x,municipio_x,casosAcumuladoJunho,obitosAcumuladoJunho,casosAcumuladoJulho,obitosAcumuladoJulho,populacao,LONGITUDE,LATITUDE
0,RO,Alta Floresta D'Oeste,110001,0,0,3,0,RO,Alta Floresta D'Oeste,108,0,304,2,22945.0,"-61,9998239","-11,9355403"
1,RO,Ariquemes,110002,69,0,361,5,RO,Ariquemes,1316,21,2627,41,107863.0,"-63,03326928","-9,908462867"
2,RO,Cabixi,110003,0,0,0,0,RO,Cabixi,4,1,44,3,5312.0,"-60,54431358","-13,49976346"
3,RO,Cacoal,110004,1,0,54,0,RO,Cacoal,290,5,759,12,85359.0,"-61,44294421","-11,43386503"
4,RO,Cerejeiras,110005,0,0,3,1,RO,Cerejeiras,32,2,104,5,16323.0,"-60,81842616","-13,19503303"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5523,GO,Vianópolis,522200,1,0,1,0,GO,Vianópolis,41,0,96,1,13863.0,"-48,5134709","-16,74208144"
5524,GO,Vicentinópolis,522205,0,0,0,0,GO,Vicentinópolis,2,1,48,1,8743.0,"-49,80723901","-17,73266238"
5525,GO,Vila Boa,522220,0,0,0,0,GO,Vila Boa,2,0,32,0,6171.0,"-47,05736085","-15,03488879"
5526,GO,Vila Propício,522230,0,0,0,0,GO,Vila Propício,0,0,46,2,5821.0,"-48,88242208","-15,45463482"
5527,DF,Brasília,530010,1356,30,9780,170,DF,Brasília,49218,587,106292,1469,3015268.0,"-47,88790548","-15,79408736"

In [40]:
# substituindo vírgula por pontos das coordenadas

dados['LONGITUDE'] = dados['LONGITUDE'].str.replace(',', '.')
dados['LATITUDE']= dados['LATITUDE'].str.replace(',', '.')

dados

,estado_x,municipio_x,codmun,casosAcumuladoAbril,obitosAcumuladoAbril,casosAcumuladoMaio,obitosAcumuladoMaio,estado_x,municipio_x,casosAcumuladoJunho,obitosAcumuladoJunho,casosAcumuladoJulho,obitosAcumuladoJulho,populacao,LONGITUDE,LATITUDE
0,RO,Alta Floresta D'Oeste,110001,0,0,3,0,RO,Alta Floresta D'Oeste,108,0,304,2,22945.0,-61.9998239,-11.9355403
1,RO,Ariquemes,110002,69,0,361,5,RO,Ariquemes,1316,21,2627,41,107863.0,-63.03326928,-9.908462867
2,RO,Cabixi,110003,0,0,0,0,RO,Cabixi,4,1,44,3,5312.0,-60.54431358,-13.49976346
3,RO,Cacoal,110004,1,0,54,0,RO,Cacoal,290,5,759,12,85359.0,-61.44294421,-11.43386503
4,RO,Cerejeiras,110005,0,0,3,1,RO,Cerejeiras,32,2,104,5,16323.0,-60.81842616,-13.19503303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5523,GO,Vianópolis,522200,1,0,1,0,GO,Vianópolis,41,0,96,1,13863.0,-48.5134709,-16.74208144
5524,GO,Vicentinópolis,522205,0,0,0,0,GO,Vicentinópolis,2,1,48,1,8743.0,-49.80723901,-17.73266238
5525,GO,Vila Boa,522220,0,0,0,0,GO,Vila Boa,2,0,32,0,6171.0,-47.05736085,-15.03488879
5526,GO,Vila Propício,522230,0,0,0,0,GO,Vila Propício,0,0,46,2,5821.0,-48.88242208,-15.45463482
5527,DF,Brasília,530010,1356,30,9780,170,DF,Brasília,49218,587,106292,1469,3015268.0,-47.88790548,-15.79408736

In [41]:
# Criando um cópia pra realizar as modificações

covid = dados
covid

,estado_x,municipio_x,codmun,casosAcumuladoAbril,obitosAcumuladoAbril,casosAcumuladoMaio,obitosAcumuladoMaio,estado_x,municipio_x,casosAcumuladoJunho,obitosAcumuladoJunho,casosAcumuladoJulho,obitosAcumuladoJulho,populacao,LONGITUDE,LATITUDE
0,RO,Alta Floresta D'Oeste,110001,0,0,3,0,RO,Alta Floresta D'Oeste,108,0,304,2,22945.0,-61.9998239,-11.9355403
1,RO,Ariquemes,110002,69,0,361,5,RO,Ariquemes,1316,21,2627,41,107863.0,-63.03326928,-9.908462867
2,RO,Cabixi,110003,0,0,0,0,RO,Cabixi,4,1,44,3,5312.0,-60.54431358,-13.49976346
3,RO,Cacoal,110004,1,0,54,0,RO,Cacoal,290,5,759,12,85359.0,-61.44294421,-11.43386503
4,RO,Cerejeiras,110005,0,0,3,1,RO,Cerejeiras,32,2,104,5,16323.0,-60.81842616,-13.19503303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5523,GO,Vianópolis,522200,1,0,1,0,GO,Vianópolis,41,0,96,1,13863.0,-48.5134709,-16.74208144
5524,GO,Vicentinópolis,522205,0,0,0,0,GO,Vicentinópolis,2,1,48,1,8743.0,-49.80723901,-17.73266238
5525,GO,Vila Boa,522220,0,0,0,0,GO,Vila Boa,2,0,32,0,6171.0,-47.05736085,-15.03488879
5526,GO,Vila Propício,522230,0,0,0,0,GO,Vila Propício,0,0,46,2,5821.0,-48.88242208,-15.45463482
5527,DF,Brasília,530010,1356,30,9780,170,DF,Brasília,49218,587,106292,1469,3015268.0,-47.88790548,-15.79408736

In [42]:
# Calculando números de casos por mês

covid['CasosMaio'] = covid['casosAcumuladoMaio'] - covid['casosAcumuladoAbril']
covid['CasosJunho'] = covid['casosAcumuladoJunho'] - covid['casosAcumuladoMaio']
covid['CasosJulho'] = covid['casosAcumuladoJulho'] - covid['casosAcumuladoJunho']
covid

,estado_x,municipio_x,codmun,casosAcumuladoAbril,obitosAcumuladoAbril,casosAcumuladoMaio,obitosAcumuladoMaio,estado_x,municipio_x,casosAcumuladoJunho,obitosAcumuladoJunho,casosAcumuladoJulho,obitosAcumuladoJulho,populacao,LONGITUDE,LATITUDE,CasosMaio,CasosJunho,CasosJulho
0,RO,Alta Floresta D'Oeste,110001,0,0,3,0,RO,Alta Floresta D'Oeste,108,0,304,2,22945.0,-61.9998239,-11.9355403,3,105,196
1,RO,Ariquemes,110002,69,0,361,5,RO,Ariquemes,1316,21,2627,41,107863.0,-63.03326928,-9.908462867,292,955,1311
2,RO,Cabixi,110003,0,0,0,0,RO,Cabixi,4,1,44,3,5312.0,-60.54431358,-13.49976346,0,4,40
3,RO,Cacoal,110004,1,0,54,0,RO,Cacoal,290,5,759,12,85359.0,-61.44294421,-11.43386503,53,236,469
4,RO,Cerejeiras,110005,0,0,3,1,RO,Cerejeiras,32,2,104,5,16323.0,-60.81842616,-13.19503303,3,29,72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5523,GO,Vianópolis,522200,1,0,1,0,GO,Vianópolis,41,0,96,1,13863.0,-48.5134709,-16.74208144,0,40,55
5524,GO,Vicentinópolis,522205,0,0,0,0,GO,Vicentinópolis,2,1,48,1,8743.0,-49.80723901,-17.73266238,0,2,46
5525,GO,Vila Boa,522220,0,0,0,0,GO,Vila Boa,2,0,32,0,6171.0,-47.05736085,-15.03488879,0,2,30
5526,GO,Vila Propício,522230,0,0,0,0,GO,Vila Propício,0,0,46,2,5821.0,-48.88242208,-15.45463482,0,0,46
5527,DF,Brasília,530010,1356,30,9780,170,DF,Brasília,49218,587,106292,1469,3015268.0,-47.88790548,-15.79408736,8424,39438,57074

In [43]:
# Calculando números de obitos por mês

covid['obitosMaio'] = covid['obitosAcumuladoMaio'] - covid['obitosAcumuladoAbril']
covid['obitosJunho'] = covid['obitosAcumuladoJunho'] - covid['obitosAcumuladoMaio']
covid['obitosJulho'] = covid['obitosAcumuladoJulho'] - covid['obitosAcumuladoJunho']
covid

,estado_x,municipio_x,codmun,casosAcumuladoAbril,obitosAcumuladoAbril,casosAcumuladoMaio,obitosAcumuladoMaio,estado_x,municipio_x,casosAcumuladoJunho,...,obitosAcumuladoJulho,populacao,LONGITUDE,LATITUDE,CasosMaio,CasosJunho,CasosJulho,obitosMaio,obitosJunho,obitosJulho
0,RO,Alta Floresta D'Oeste,110001,0,0,3,0,RO,Alta Floresta D'Oeste,108,...,2,22945.0,-61.9998239,-11.9355403,3,105,196,0,0,2
1,RO,Ariquemes,110002,69,0,361,5,RO,Ariquemes,1316,...,41,107863.0,-63.03326928,-9.908462867,292,955,1311,5,16,20
2,RO,Cabixi,110003,0,0,0,0,RO,Cabixi,4,...,3,5312.0,-60.54431358,-13.49976346,0,4,40,0,1,2
3,RO,Cacoal,110004,1,0,54,0,RO,Cacoal,290,...,12,85359.0,-61.44294421,-11.43386503,53,236,469,0,5,7
4,RO,Cerejeiras,110005,0,0,3,1,RO,Cerejeiras,32,...,5,16323.0,-60.81842616,-13.19503303,3,29,72,1,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5523,GO,Vianópolis,522200,1,0,1,0,GO,Vianópolis,41,...,1,13863.0,-48.5134709,-16.74208144,0,40,55,0,0,1
5524,GO,Vicentinópolis,522205,0,0,0,0,GO,Vicentinópolis,2,...,1,8743.0,-49.80723901,-17.73266238,0,2,46,0,1,0
5525,GO,Vila Boa,522220,0,0,0,0,GO,Vila Boa,2,...,0,6171.0,-47.05736085,-15.03488879,0,2,30,0,0,0
5526,GO,Vila Propício,522230,0,0,0,0,GO,Vila Propício,0,...,2,5821.0,-48.88242208,-15.45463482,0,0,46,0,0,2
5527,DF,Brasília,530010,1356,30,9780,170,DF,Brasília,49218,...,1469,3015268.0,-47.88790548,-15.79408736,8424,39438,57074,140,417,882

In [44]:
# removendo colunas duplicadas colunas duplicadas tb
covid = covid.loc[:,~covid.columns.duplicated()]

# deletando colunas que não serão utilizadas

del covid['casosAcumuladoAbril']
del covid['casosAcumuladoMaio']
del covid['casosAcumuladoJunho']
del covid['casosAcumuladoJulho']
del covid['obitosAcumuladoAbril']
del covid['obitosAcumuladoMaio']
del covid['obitosAcumuladoJunho']
del covid['obitosAcumuladoJulho']

covid

,estado_x,municipio_x,codmun,populacao,LONGITUDE,LATITUDE,CasosMaio,CasosJunho,CasosJulho,obitosMaio,obitosJunho,obitosJulho
0,RO,Alta Floresta D'Oeste,110001,22945.0,-61.9998239,-11.9355403,3,105,196,0,0,2
1,RO,Ariquemes,110002,107863.0,-63.03326928,-9.908462867,292,955,1311,5,16,20
2,RO,Cabixi,110003,5312.0,-60.54431358,-13.49976346,0,4,40,0,1,2
3,RO,Cacoal,110004,85359.0,-61.44294421,-11.43386503,53,236,469,0,5,7
4,RO,Cerejeiras,110005,16323.0,-60.81842616,-13.19503303,3,29,72,1,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...
5523,GO,Vianópolis,522200,13863.0,-48.5134709,-16.74208144,0,40,55,0,0,1
5524,GO,Vicentinópolis,522205,8743.0,-49.80723901,-17.73266238,0,2,46,0,1,0
5525,GO,Vila Boa,522220,6171.0,-47.05736085,-15.03488879,0,2,30,0,0,0
5526,GO,Vila Propício,522230,5821.0,-48.88242208,-15.45463482,0,0,46,0,0,2
5527,DF,Brasília,530010,3015268.0,-47.88790548,-15.79408736,8424,39438,57074,140,417,882

In [56]:
# corrigindo valores que são negativos, definindo como 0

covid[covid['CasosMaio'] < 0] = 0
covid[covid['CasosJunho'] < 0] = 0
covid[covid['CasosJulho'] < 0] = 0
covid[covid['obitosMaio'] < 0] = 0
covid[covid['obitosJunho'] < 0] = 0
covid[covid['obitosJulho'] < 0] = 0

<ipython-input-56-ce6428855e92>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid[covid['CasosMaio'] < 0] = 0
<ipython-input-56-ce6428855e92>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid[covid['CasosJunho'] < 0] = 0
<ipython-input-56-ce6428855e92>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid[covid['CasosJulho'] < 0] = 0
<ipython-input-56-ce6428855e92>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid[covid['obitosMaio'] < 0] = 0
<ipython-input-56-ce6428855e92>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid[covid['obitosJunho'] < 0] = 0
<ipython-input-56-ce6428855e92>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid[covid['obitosJulho'] < 0] = 0

In [58]:
# exportando dados

covid.to_csv('database.csv', sep=';', encoding='utf-8')

In [59]:
covid.describe()

,populacao,CasosMaio,CasosJunho,CasosJulho,obitosMaio,obitosJunho,obitosJulho
count,5.528000e+03,5528.000000,5528.000000,5528.000000,5528.000000,5528.000000,5528.000000
mean,3.784756e+04,76.893090,159.885492,226.510492,4.217258,5.457489,5.934515
std,2.222927e+05,799.472624,1276.831478,1452.917893,65.377132,63.478653,47.603282
min,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.418000e+03,0.000000,3.000000,11.000000,0.000000,0.000000,0.000000
50%,1.162400e+04,3.000000,16.000000,39.000000,0.000000,0.000000,1.000000
75%,2.551025e+04,21.000000,74.000000,133.000000,1.000000,2.000000,3.000000
max,1.225202e+07,41982.000000,66988.000000,70441.000000,3043.000000,2972.000000,2387.000000

In [68]:
# criando outra planilha para analise de número de casos a cada 10 mil habitantes

analise = covid
analise

,estado_x,municipio_x,codmun,populacao,LONGITUDE,LATITUDE,CasosMaio,CasosJunho,CasosJulho,obitosMaio,obitosJunho,obitosJulho,Casos10milMaio,Casos10milJunho,Casos10milJulho
0,RO,Alta Floresta D'Oeste,110001,22945.0,-61.9998239,-11.9355403,3,105,196,0,0,2,1.307474,45.761604,85.421660
1,RO,Ariquemes,110002,107863.0,-63.03326928,-9.908462867,292,955,1311,5,16,20,27.071378,88.538238,121.543069
2,RO,Cabixi,110003,5312.0,-60.54431358,-13.49976346,0,4,40,0,1,2,0.000000,7.530120,75.301205
3,RO,Cacoal,110004,85359.0,-61.44294421,-11.43386503,53,236,469,0,5,7,6.209070,27.647934,54.944411
4,RO,Cerejeiras,110005,16323.0,-60.81842616,-13.19503303,3,29,72,1,1,3,1.837897,17.766342,44.109539
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5523,GO,Vianópolis,522200,13863.0,-48.5134709,-16.74208144,0,40,55,0,0,1,0.000000,28.853783,39.673952
5524,GO,Vicentinópolis,522205,8743.0,-49.80723901,-17.73266238,0,2,46,0,1,0,0.000000,2.287544,52.613519
5525,GO,Vila Boa,522220,6171.0,-47.05736085,-15.03488879,0,2,30,0,0,0,0.000000,3.240966,48.614487
5526,GO,Vila Propício,522230,5821.0,-48.88242208,-15.45463482,0,0,46,0,0,2,0.000000,0.000000,79.024223
5527,DF,Brasília,530010,3015268.0,-47.88790548,-15.79408736,8424,39438,57074,140,417,882,27.937815,130.794344,189.283341

In [71]:
analise['Casos10milMaio'] = (analise['CasosMaio']*10000)/analise['populacao']
analise['Casos10milJunho'] = (analise['CasosJunho']*10000)/analise['populacao']
analise['Casos10milJulho'] = (analise['CasosJulho']*10000)/analise['populacao']
analise

<ipython-input-71-2e6830990d1b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  analise['Casos10milMaio'] = (analise['CasosMaio']*10000)/analise['populacao']
<ipython-input-71-2e6830990d1b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  analise['Casos10milJunho'] = (analise['CasosJunho']*10000)/analise['populacao']
<ipython-input-71-2e6830990d1b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  analise['Casos10milJulho'] = (analise['CasosJulho']*10000)/analise['populacao']

,estado_x,municipio_x,codmun,populacao,LONGITUDE,LATITUDE,CasosMaio,CasosJunho,CasosJulho,obitosMaio,obitosJunho,obitosJulho,Casos10milMaio,Casos10milJunho,Casos10milJulho
0,RO,Alta Floresta D'Oeste,110001,22945.0,-61.9998239,-11.9355403,3,105,196,0,0,2,1.307474,45.761604,85.421660
1,RO,Ariquemes,110002,107863.0,-63.03326928,-9.908462867,292,955,1311,5,16,20,27.071378,88.538238,121.543069
2,RO,Cabixi,110003,5312.0,-60.54431358,-13.49976346,0,4,40,0,1,2,0.000000,7.530120,75.301205
3,RO,Cacoal,110004,85359.0,-61.44294421,-11.43386503,53,236,469,0,5,7,6.209070,27.647934,54.944411
4,RO,Cerejeiras,110005,16323.0,-60.81842616,-13.19503303,3,29,72,1,1,3,1.837897,17.766342,44.109539
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5523,GO,Vianópolis,522200,13863.0,-48.5134709,-16.74208144,0,40,55,0,0,1,0.000000,28.853783,39.673952
5524,GO,Vicentinópolis,522205,8743.0,-49.80723901,-17.73266238,0,2,46,0,1,0,0.000000,2.287544,52.613519
5525,GO,Vila Boa,522220,6171.0,-47.05736085,-15.03488879,0,2,30,0,0,0,0.000000,3.240966,48.614487
5526,GO,Vila Propício,522230,5821.0,-48.88242208,-15.45463482,0,0,46,0,0,2,0.000000,0.000000,79.024223
5527,DF,Brasília,530010,3015268.0,-47.88790548,-15.79408736,8424,39438,57074,140,417,882,27.937815,130.794344,189.283341

In [72]:
# salvando a planilha
analise.to_csv('dados_covid.csv', sep=';', encoding='utf-8')